.grid {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
     background-color: #f9fafb;
     color: #14181f;
}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.top-bar .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 3rem;
}
.grid-cointaner{
    margin: 0 auto;
    /* width: 100%; */
    /* height: 100dvh; */
    display: grid;
  grid-template-columns: repeat(18, 30px);
  grid-template-rows: repeat(18, 30px);
  gap: 2px;
}
.cell {
    width: 28px;
  height: 28px;
  border-radius: 8px;
  background: #f3f4f6; /* light gray */
  cursor: pointer;
  transition: background 0.15s ease;
}

.cell:hover {
  background: #e5e7eb;
}
.cell.active {
  background: #22b8a0; /* green */
}